<!-- current route: root/countries/:alpha3Code -->

<div class="country-detail-component-wrapper">
  <ng-container *ngIf="country">
    <a [routerLink]="['/home']"
       class="back-link">
      <svg class="left-arrow-icon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 448 512">
        <path
              d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" />
      </svg>
      Back
    </a>
    <img [src]="country.flag"
         alt="Flag of {{ country.name }}">
    <h2>{{ country.name }}</h2>
    <ul class="country-detail-list">
      <li class="country-detail-item"><span class="country-detail-item-label">Native Name:
        </span>{{ country.nativeName }}
      </li>
      <li class="country-detail-item"><span class="country-detail-item-label">Population:
        </span>{{ country.population | number }}</li>
      <li class="country-detail-item"><span class="country-detail-item-label">Region: </span>{{ country.region }}</li>
      <li class="country-detail-item"><span class="country-detail-item-label">Sub Region: </span>{{ country.subregion }}
      </li>
      <li class="country-detail-item"><span class="country-detail-item-label">Capital: </span>{{ country.capital }}</li>
    </ul>
    <ul class="country-detail-list">
      <li class="country-detail-item"><span class="country-detail-item-label">Top Level Domain:
        </span>{{ country.topLevelDomain.join() }}
      </li>
      <li class="country-detail-item"><span class="country-detail-item-label">Currencies:
        </span>{{ country.currencies | nameList}}
      </li>
      <li class="country-detail-item"><span class="country-detail-item-label">Languages:
        </span>{{ country.languages | nameList}}
      </li>
    </ul>
  </ng-container>
</div>
