#headerComponentWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5%;

  background-color: var(--header-background-color);

  transition: var(--header-background-color-transition);
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
}

.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;

  .theme-icon {
    width: 1.6rem;
    margin-right: 10px;

    svg {
      display: block;

      path {
        fill: var(--app-text-color);

        transition: var(--app-text-color-transition);
      }
    }
  }

  button.theme-toggle {
    cursor: pointer;

    border: none;
    background-color: transparent;
    color: var(--app-text-color);
    font-family: var(--app-font-family);
    font-size: 1.6rem;
    font-weight: 600;

    transition: var(--app-text-color-transition);
  }
}
