#appComponentWrapper.dark-mode {
  --app-background-color: hsl(207, 26%, 17%);
  --card-background-color: hsl(209, 23%, 22%);
  --input-background-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
}

#appComponentWrapper.light-mode {
  --app-background-color: hsl(0, 0%, 98%);
  --card-background-color: hsl(0, 0%, 100%);
  --input-background-color: hsl(0, 0%, 52%);
  --text-color: hsl(200, 15%, 8%);
}

#appComponentWrapper {
  height: 100%;

  background-color: var(--app-background-color);
  color: var(--text-color);
}
