// Values for theme switching transition
.dark-theme,
.light-theme {
  --app-background-color-transition: all 1s ease-in-out;
  --app-text-color-transition: all 1s ease-in-out;
  --app-button-background-color-transition: all 1s ease-in-out;
  --header-transition: all 1s ease-in-out;
  --search-bar-transition: all 1s ease-in-out;
  --filter-select-transition: all 1s ease-in-out;
  --country-card-transition: all 1s ease-in-out;
}

.dark-theme {
  --app-font-family: 'Nunito Sans', sans-serif;
  --app-background-color: hsl(207, 26%, 17%);
  --app-text-color: hsl(0, 0%, 100%);
  --app-button-background-color: hsl(209, 23%, 22%);
  --header-background-color: hsl(209, 23%, 22%);
  --search-bar-background-color: hsl(209, 23%, 22%);
  --filter-select-background-color: hsl(209, 23%, 22%);
  --country-card-background-color: hsl(209, 23%, 22%);
}

.light-theme {
  --app-font-family: 'Nunito Sans', sans-serif;
  --app-background-color: hsl(0, 0%, 98%);
  --app-text-color: hsl(200, 15%, 8%);
  --app-button-background-color: hsl(0, 0%, 100%);
  --header-background-color: hsl(0, 0%, 100%);
  --search-bar-background-color: hsl(0, 0%, 100%);
  --filter-select-background-color: hsl(0, 0%, 100%);
  --country-card-background-color: hsl(0, 0%, 100%);
}
