// Values for theme switching transition
.dark-theme,
.light-theme {
  --header-background-color-transition: all 700ms linear 0ms;
  --app-background-color-transition: all 600ms linear 100ms;
  --search-bar-background-color-transition: all 400ms linear 300ms;
  --filter-select-background-color-transition: all 300ms linear 400ms;
  --country-card-background-color-transition: all 600ms linear 100ms;
  --app-text-color-transition: all 250ms linear 450ms;
  --app-button-background-color-transition: all 500ms linear 200ms;
}

.dark-theme {
  --app-font-family: 'Nunito Sans', sans-serif;
  --app-background-color: hsl(207, 26%, 17%);
  --app-text-color: hsl(0, 0%, 100%);
  --app-button-background-color: hsl(209, 23%, 22%);
  --header-background-color: hsl(209, 23%, 22%);
  --search-bar-background-color: hsl(209, 23%, 22%);
  --filter-select-background-color: hsl(209, 23%, 22%);
  --country-card-background-color: hsl(209, 23%, 22%);
}

.light-theme {
  --app-font-family: 'Nunito Sans', sans-serif;
  --app-background-color: hsl(0, 0%, 98%);
  --app-text-color: hsl(200, 15%, 8%);
  --app-button-background-color: hsl(0, 0%, 100%);
  --header-background-color: hsl(0, 0%, 100%);
  --search-bar-background-color: hsl(0, 0%, 100%);
  --filter-select-background-color: hsl(0, 0%, 100%);
  --country-card-background-color: hsl(0, 0%, 100%);
}
