<div id="home-page-component-wrapper">
  <ng-container *ngIf="countries; else loading">
    <div class="list-manipulators-container">
      <app-search-bar (onSearch)="filterCountriesByName($event)"></app-search-bar>
      <app-filter-select [filterField]="'Region'"
                         [filterFieldOptions]="['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']"
                         (filterFieldOptionSelected)="filterCountriesByRegion($event)"></app-filter-select>
    </div>
    <app-countries [countries]="countries"></app-countries>
  </ng-container>
  <ng-template #loading>
    <div class="loading-wrapper">Loading</div>
  </ng-template>
</div>
