.countries-component-wrapper {
  width: 100%;
  height: 100%;
}

ul.countries-list {
  width: 100%;
  height: 100%;

  list-style-type: none;

  li {
    width: 100%;
    height: 50%;
    padding: 5% 13%;

    a {
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;

      color: var(--app-text-color);
    }

    app-country-card {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
