.filter-select-component-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: var(--filter-select-background-color);
  border-radius: 5px;
}

.select {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 2rem;

  .select-down-arrow {
    height: 100%;
    margin-left: auto;

    svg {
      display: block;
      width: 15px;
      height: 100%;

      path {
        fill: var(--app-text-color);
      }
    }
  }
}

.select:hover {
  cursor: pointer;
}

ul.select-options-list {
  position: absolute;
  top: calc(100% + 5px);
  list-style-type: none;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;

  border-radius: 5px;
  background-color: var(--filter-select-background-color);
  box-shadow:
    10px 0 10px rgba(black, 0.2),
    0 10px 10px rgba(black, 0.2),
    -10px 0 10px rgba(black, 0.2);

  li.select-option {
    display: flex;
    margin: 1rem;

    .checkmark {
      display: none;
      margin-left: auto;

      svg {
        display: block;
        width: 15px;
        height: 100%;

        path {
          fill: var(--app-text-color);
        }
      }
    }
  }

  li.select-option:hover {
    cursor: pointer;
  }

  li.select-option.active {
    .checkmark {
      display: block;
    }
  }
}
